<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:query -->
<div class="wp-block-query">
	<!-- wp:post-template -->
	<!-- wp:post-title /-->
	<!-- wp:post-date /-->
	<!-- wp:post-content /-->
	<!-- /wp:post-template -->
	</div>
	<!-- /wp:query -->


<!--
	For Gutenberg and WordPress to recognize that the active theme has support for full site editing, the theme must include an index.
	html file and it must be placed inside a folder called templates.
	Block templates are your base files. They are HTML files, and you place them inside a folder called templates.
	Block templates follow the WordPress template hierarchy:
	/templates/index.html is the equivalent of index.php in a classic theme.
	/templates/404.html is the equivalent of 404.php and so on.

	If WordPress is unable to find a matching .html file, it will look for a .php file in the root folder.
-->
