<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:query -->
	<div class="wp-block-query">
	<!-- wp:post-template -->
		<!-- wp:post-featured-image /-->
		<!-- wp:post-title {"isLink":true} /-->
		<!-- wp:post-author {"showAvatar":false} /-->
		<!-- wp:post-date /-->
		<!-- wp:post-hierarchical-terms {"term":"category"} /-->
		<!-- wp:post-excerpt /-->
	<!-- /wp:post-template -->
	<!-- wp:query-pagination -->
	<div class="wp-block-query-pagination">
		<!-- wp:query-pagination-previous /-->
		<!-- wp:query-pagination-next /-->
	</div>
	<!-- /wp:query-pagination -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":true}} /-->

<!--
	For Gutenberg and WordPress to recognize that the active theme has support for full site editing, the theme must include an index.
	html file and it must be placed inside a folder called templates.
	Block templates are your base files. They are HTML files, and you place them inside a folder called templates.
	Block templates follow the WordPress template hierarchy:
	/templates/index.html is the equivalent of index.php in a classic theme.
	/templates/404.html is the equivalent of 404.php and so on.

	If WordPress is unable to find a matching .html file, it will look for a .php file in the root folder.
-->
